/* stylelint-disable CssSyntaxError */
.button {
  margin-top: 0;
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.fieldset {
  margin-bottom: 20px 0;
}

.last-field {
  margin-bottom: 0;
}
